* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;

    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 500px;
}

form textarea,
form input,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #0b3d8c;
    font-size: 16px;
}

form textarea {
    resize: vertical;
    height: 100px;
}

.btn2{
    background-color: #0b3d8c;
    color:white;
    font-weight:bold;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow:5px 5px 5px gray;
}

form button:hover {
    background-color: #bcd2f5;
}

.paste-list {
    margin-top: 30px;
}

.paste-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.paste-item a {
    text-decoration: none;
    color: #333;
}

.paste-item button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}
.btn1{
border:none;
margin-right:50px;
width:50px;
height:50px;
background-color:transparent;
}
.paste-item button:hover {
    background-color: #1976D2;
}
i:hover{
  color:red;

}
.head1{
font-family: 'Roboto', 'Arial', sans-serif;
    color: #0b3d8c;
    text-align: center;
    margin-bottom: 20px;
}